*{
    margin:0;
    padding:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: #ffecdc;
}

.container{
    text-align: center;
    height: 100%;
}
.box{
    position: absolute;
    top: 25%;
    left: 35%;
    border: 2px solid black;
    border-radius: 20px;
    padding: 2rem;
    background-color: #b77f4e;
}

table{
    margin: auto;
}
input{
    font-size: 33px;
    border-radius: 3px;
    border: none;
    margin: 1rem;
    background-color: floralwhite;
}
button{
    border-radius: 3px;
    font-size:33px ;
    width: 100px;
    height: 56px;
    background: #91abab;
}
@media screen and (max-width:820px) {
    .box{
        top: 0;
        left: 0;
    }
}